/**/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}










body {
    background-image: url(../assets/images/webb.png);
    text-align: center;

}

.logo { position: relative; 
    right: 850px;
    width: 120px;
    height: 120px;
}
header {
    position: sticky;
    padding: 20px;
    z-index: 100;
    top: 0;
}
h1 {
    font-size: 75px;
    
}
nav ul li:hover{
    background-color: rgb(23, 135, 179);
    border-radius: 10px 10px;
}

ul {
    list-style-type: none; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border: 5px solid black; 
    text-align: left; 
    background-color: darkgrey;
}

li{
    display: inline-block;
}
.paginas{
    color: black;
    text-decoration: none;
}



p {
    font-size: x-large; 
    font-family: monospace;
}
footer{
    font-size: x-large;
}

/*index*/ /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.titulo-de-pag{
    font-size: 150px;
    color: black;
    
}
@media (max-width: 860px) {
    .titulo-de-pag {
        font-size: 90px;

    }
        
}
@media (max-width: 1360px) {
    .tatto-video{
        width: 700px;
    }
    
        
}





.h2-index {
    font-size: 50px;
}
.body-1{text-align: center;}



/*encuentranos*/ /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/


/*servicios*/ /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/


.grid-container-2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    border: 6px solid black;

}
@media(min-width:768px){
    .grid-container-2 {
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        border: 6px solid black;
        
    }
}
.gengar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 1000px;
    height: 1000px;
}
@media(min-width:768px){
    .gengar {
        grid-template-columns: repeat(2,1fr);
    }
}
.lineales {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 100px;
}
@media(min-width:768px){
    .lineales {
        grid-template-columns: repeat(2,1fr);
    }
}

.zoro {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
@media(min-width:768px){
    .zoro {
        grid-template-columns: repeat(2,1fr);
    }
}
.detallado {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 100px;
}
@media(min-width:768px){
    .detallado {
        grid-template-columns: repeat(2,1fr);
    }
}


.ho-ho {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
@media(min-width:768px){
    .ho-ho {
        grid-template-columns: repeat(2,1fr);
    }
}
.color {
    grid-column: 2 / 3;
    grid-row: inherit;
    font-size: 100px;
}
@media(min-width:768px){
    .color{
        grid-template-columns: repeat(2,1fr);
    }
}

span {
    font-size: 50px; 
}







/*informacion*/ /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/



.carousel.slide.carousel-fade {
    max-width: 1280px;
    margin: auto;
 }
 .carousel-control-prev {
    background: black;
    padding: 10px;
 }
 .carousel-control-next {
    background: black;
    padding: 10px;
 }
 .carousel-control-prev-icon {
    color: white;
    padding: 5px;
 }
 .carousel-control-next-icon{
    color:white ;

 }
 




/*contactanos*/ /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.fa-brands {
    font-size: 60px;
}

.boxmodel{
    display: flex;
    flex-direction: row;
    justify-content: center

}
@media (max-width: 860px) {
    .boxmodel{
        flex-direction: column;
        align-items: center;
    }
        
}


.caja {
    width: 120px;
    height: 120px;
    padding: 20px 260px 10px 10px;
    border: 10px solid black;
    border-radius: 70px 20px;
}

.caja1 {
    background-color:rgb(18, 218, 28);
}

.caja2 {
    background-color:rgb(202, 107, 197) ;
}

.caja3 {
    background-color: whitesmoke;
}