@media (max-width: 860px) {
    .boxmodel{
        flex-direction: column;
        align-items: center;
    }
        
}
@media (max-width: 860px) {
    .titulo-de-pag {
        font-size: 70px;

    }
        
}
@media (max-width: 1360px) {
    .tatto-video{
        width: 340px;
    }
    
        
}
@media(min-width:768px){
    .grid-container-2 {
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
     
    }
}